<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto" *ngFor="let genre of genres" class="ion-text-center">
        <ion-button class="boton" (click)="showMoviesByGenre(genre.id)">
          {{ genre.name }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
