ion-select {
  border: 1px solid white; 
  border-radius: 5px; 
  width: 30%;
  margin-left: 35%;
}

ion-select-option {
  text-align: center; 
}

ion-card-content, ion-card-header {
  text-align: center;
}