<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ movie?.title }} ({{ movie?.release_date | date:'y' }})</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img [src]="imageBaseUrl + '/w400' + movie?.poster_path" class="movie-img">

    <ion-card-header>
       <ion-text color="tertiary">
        <span *ngFor="let g of movie?.genres; let isLast = last">
          {{ g.name }} {{ !isLast ? '·' : '' }}
        </span>
       </ion-text>
    </ion-card-header>

    <ion-card-content>
      <ion-label>{{ movie?.overview }}</ion-label>
      <br>
      <br>
      <ion-text color="primary">
        <span>Añádela a tu lista:</span>
      </ion-text>
      <ion-select interface="popover" placeholder="Seleccionar" class="custom-select">
        <ion-select-option value="vista">Vista</ion-select-option>
        <ion-select-option value="quiero_ver">Quiero Ver</ion-select-option>
      </ion-select>
    </ion-card-content>


  </ion-card>
</ion-content>
