<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cerrarPagina()">
          <ion-icon name="close" style="color: #f4b953;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="custom-title">
        {{ registrandose ? 'Regístrate' : 'Iniciar Sesión' }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ng-container *ngIf="!registrandose; else registroTemplate">
    <!-- Formulario de inicio de sesión -->
    <form #miFormulario="ngForm" (ngSubmit)="login(miFormulario)">
      <br>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" name="email" ngModel aria-label="Correo electrónico"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" name="password" ngModel aria-label="Contraseña"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" type="submit" color="primary">Entar</ion-button>
    </form>
    <p style="text-align: center;">¿No estás registrado? <a (click)="toggleRegistro()">Regístrate</a></p>
  </ng-container>

  <ng-template #registroTemplate>
    <!-- Formulario de registro -->
    <form #miFormularioRegistro="ngForm" (ngSubmit)="registrar(miFormularioRegistro)">
      <br>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" name="email" ngModel aria-label="Correo electrónico"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña (mínimo 6 caracteres)</ion-label>
        <ion-input type="password" name="password" minlength="6" ngModel aria-label="Contraseña"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" type="submit" color="primary">Registrarse</ion-button>
      <p style="text-align: center;">¿Ya tienes cuenta? <a (click)="toggleRegistro()">Inicia sesión</a></p>
    </form>
  </ng-template>
</ion-content>
