.custom-searchbar {
    width: 95%; 
    padding-bottom: 5%;
    padding-top: 5%;
  }

.img-logo{
    padding-top: 5%;
    width: 60%; 
}

.title{
    text-align: center;
    height: 50px;
    font-weight: bold;
    color: #d98744;
}