<ion-header>
  <ion-toolbar color="light dark">
    <ion-title class="title"><img class="img-logo" src='../../../assets/letras.png'></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="searchMovies()" class="custom-searchbar">
      <ion-button slot="end" (click)="startRecognition()" *ngIf="!recording" fill="clear">
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="stopRecognition()" *ngIf="recording" fill="clear">
        <ion-icon name="mic-off-outline"></ion-icon>
      </ion-button>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="title" *ngIf="!isSearching">TOP 20</ion-title>
  <ion-list *ngIf="!isSearching">
    <ion-item button *ngFor="let item of movies" [routerLink]="[item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path"/>
      </ion-avatar>
      <ion-label>
        {{ item.title }}
        <p>{{ item.release_date | date:'y' }}</p>
      </ion-label>
      <ion-icon slot="end" [name]="isFavorite(item.id) ? 'star' : 'star-outline'"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isSearching">
    <ion-item button *ngFor="let item of movies" [routerLink]="[item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path"/>
      </ion-avatar>
      <ion-label>
        {{ item.title }}
        <p>{{ item.release_date | date:'y' }}</p>
      </ion-label>
      <ion-icon slot="end" [name]="isFavorite(item.id) ? 'star' : 'star-outline'"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
